{% extends 'StatBundle::base.html.twig' %}

{% block title %}Naming Conventions{% endblock %}

{% block body %}

{% for specieStat in namingStats %}

<div class="headline">
<h2>{{ specieStat.specieName }}</h2><h3> - {% trans %}Naming Conventions{% endtrans %}</h3>
</div>

<table>
    <thead>
        <tr>
            <td>{% trans %}Naming Convention{% endtrans %}</td>
            <td class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</td>
        </tr> 
    </thead>
    <tbody>
{% for conventionStat in specieStat.stat %}
    <tr>
        <td>{{ conventionStat.namingConvention }}</td>
        <td class="tcell-numeric">{{ conventionStat.proteinCount }}</td>
    </tr>    
{% else %}
<div class="message message-notice">
{% trans %}
No naming convention found
{% endtrans %}
</div>
{% endfor %}
    </tbody>
</table>

{% endfor %}

{% endblock %}