{% extends 'StatBundle:NamingStat:container.html.twig' %}

{% block title %}Mappings{% endblock %}

{% block body %}

{% for specieName, mapStat in mapStats %}
    <h1>{{ specieName }}<small> - Available Maps</small></h1>
    
    {% if mapStat %}
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans %}Naming Convention A{% endtrans %}</th>
                    <th>{% trans %}Naming Convention B{% endtrans %}</th>
                    <th class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</th>
                </tr> 
            </thead>
            <tbody>
        {% for stat in mapStat %}
            <tr>
                <td>{{ stat.namingConventionA }}</td>
                <td>{{ stat.namingConventionB }}</td>
                <td class="tcell-numeric">{{ stat.proteinCount }}</td>
            </tr>    
        {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info">
        <h4>{% trans %}Not found{% endtrans %}</h4>
        {% trans %}
            No map source found
        {% endtrans %}
        </div>
    {% endif %}
{% endfor %}

{% endblock %}