{# src/Comppi/DownloadCenterBundle/Resources/views/currentrelease.html.twig #}
{% extends 'DownloadCenterBundle:DownloadCenter:downloadcenter.html.twig' %}

{% block title %}ComPPI - Download The Current Release - The Compartmentalized Protein-Protein Interaction Database{% endblock %}

{% block download_content %}
	<h3>Current Release:</h3>
	{% if size is defined %}
	<p class="center"><a href="{{ path('DownloadCenterBundle_getcurrentrelease') }}" class="btn_green" style="text-decoration: none;">{{ mtime }} ({{ size }} MB)</a></p>
	{% else %}
	<p class="center">Current release is temporary unavailable.</p>
	{% endif %}
{% endblock %}
