{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - About{% endblock %}

{% block bundlecontent %}
	<p>ComPPI is a compartmentalized protein-protein interaction database containing X proteins and their Y interactions and offering the following novel options:</p>

	<ul>
		<li>an integrated data set of 11 protein-protein interaction databases: <em>BioGRID</em>, <em>CCSB</em>, <em>DiP</em>, <em>DroID</em>, <em>HomoMINT</em>, <em>HPRD</em>, <em>IntAct</em>, <em>MatrixDB</em>, <em>MINT</em>, <em>MIPS</em> and <em>PIPs</em> and 9 subcellular localization databases: BaCelLo</em>, eSLDB</em>, GO</em>, <em>HumanProteinpedia</em>, <em>LOCATE</em>, <em>MatrixDB</em>, <em>OrganelleDB</em>, <em>PA-GOSUB</em> and <em>TheHumanProteinAtlas</em> (<a href="help#inputdbs">Details</a>);</li>
		<li>a comparative assessment of four species (S. cerevisiae, C. elegans, D. melanogaster, H. sapiens);</li>
		<li>a hierarchic structure of subcellular localizations using >1500 GO cellular component terms;</li>
		<li>a confidence score comprising data-quality and interactome-consensus of subcellular localization;</li>
		<li>direct and advanced search options for individual proteins, interacting protein pairs, or interaction lists;</li>
		<li>download options of whole-proteome, organelle-specific, or sub-organelle interactomes.</li>
	</ul>
{% endblock %}