{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - About{% endblock %}

{% block bundlecontent %}
	<p>ComPPI, or Compartmentalized Protein-Protein Interaction database is a... Our goal... We suggest you to read... Also some examples...</p>
{% endblock %}