{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - About{% endblock %}

{% block bundlecontent %}
	<p>ComPPI is a compartmentalized protein-protein interaction database containing X proteins and their Y interactions and offering the following novel options:</p>

	<ul>
		<li>an integrated data set of 11 protein-protein interaction databases: BioGRID, CCSB, DiP, DroID, HomoMINT, HPRD, IntAct, MatrixDB, MINT, MIPS and PIPs and 9 subcellular localization databases: BaCelLo, eSLDB, GO, HumanProteinpedia, LOCATE, MatrixDB, OrganelleDB, PA-GOSUB and TheHumanProteinAtlas;</li>
		<li>a comparative assessment of four species (S. cerevisiae, C. elegans, D. melanogaster, H. sapiens);</li>
		<li>a hierarchic structure of subcellular localizations using >1500 GO cellular component terms;</li>
		<li>a confidence score comprising data-quality and interactome-consensus of subcellular localization;</li>
		<li>direct and advanced search options for individual proteins, interacting protein pairs, or interaction lists;</li>
		<li>download options of whole-proteome, organelle-specific, or sub-organelle interactomes.</li>
	</ul>
{% endblock %}