{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - About{% endblock %}

{% block bundlecontent %}
	<p>ComPPI is a compartmentalized protein-protein interaction database, which provides widespread and qualified interaction data filtered by tree-structured subcellular localizations of four species.</p>

	<ul>
		<li>- kompartmentalizált fehérje-fehérje interakciók</li>
		<li>- lokalizációs fa - sok kompartment</li>
		<li>- széles adatmennyiség és egységes adatszerkezet</li>
		<li>- többfajúság</li>
		<li>- export lehetőségek</li>
	</ul>

	<p>ComPPI, or Compartmentalized Protein-Protein Interaction database is a... Our goal... We suggest you to read... Also some examples...</p>
{% endblock %}