{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - About{% endblock %}

{% block bundlecontent %}
	<p>ComPPI is a compartmentalized protein-protein interaction database containing X proteins and their Y interactions. Main features:</p>

	<ul id="WelcomePanels">
		<li><h1>PPIs</h1>
			An integrated data set of 11 protein-protein interaction databases:<br />
			<em>BioGRID</em>,
			<em>CCSB</em>,
			<em>DiP</em>,
			<em>DroID</em>,
			<em>HomoMINT</em>,
			<em>HPRD</em>,
			<em>IntAct</em>,
			<em>MatrixDB</em>,
			<em>MINT</em>,
			<em>MIPS</em> and
			<em>PIPs</em>
			<a href="help#inputdbs">Details...</a>
		</li><li>
			<h1>Localizations</h1>
			9 subcellular localization databases: BaCelLo</em>, eSLDB</em>, GO</em>, <em>HumanProteinpedia</em>, <em>LOCATE</em>, <em>MatrixDB</em>, <em>OrganelleDB</em>, <em>PA-GOSUB</em> and <em>TheHumanProteinAtlas</em> <a href="help#inputdbs">Details...</a>
		</li>
		<li><h1>Species</h1>
			A comparative assessment of four species: S. cerevisiae, C. elegans, D. melanogaster, H. sapiens.
		</li>
		<li><h1>1500+ GO cellular component terms</h1>
			A hierarchic structure of subcellular localizations using more than 1500 GO cellular component terms.
		</li>
		<li><h1>Confidence Score</h1>
			A confidence score comprising data-quality and interactome-consensus of subcellular localization.
		</li>
		<li><h1>Search Proteins</h1>
			Direct and advanced search options for individual proteins, interacting protein pairs, or interaction lists.
		</li>
		<li><h1>Download Custom Datasets</h1>
			Download options of whole-proteome, organelle-specific or sub-organelle interactomes.
		</li>
	</ul>
{% endblock %}