{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Downloads{% endblock %}

{% block bundlecontent %}
	
	<h1><ul id="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Download of Custom Datasets</li></ul></h1>
        
        <h2>Summary of the Downloads page</h2>
	<p align="justify"></p>
        
        <a href="#comp"></a>
        <a href="#ppi"></a>
        <a href="#loc"></a>
        
        <a name="comp"><h2>Compartmentalized interactome</h2></a>
        
        <p align="justify"></p>
        
               
        <a name="ppi"><h2>Integrated protein-protein interaction dataset</h2></a>
        
        <p align="justify"></p>
        
        
        <a name="loc"><h2>Integrated subcellular localization dataset</h2></a>
        
        <p align="justify"></p>
        
	
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a></p>

{% endblock %}
