{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help{% endblock %}

{% block bundlecontent %}
	<h1>Help</h1>
	<h2>How should I start searching?</h2>
	<p>Bla-bla-bla. Bla.</p>
	<h2>Examples?</h2>
	<p>Bla-bla-bla. Bla.</p>
{% endblock %}