{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Impressum{% endblock %}

{% block bundlecontent %}
	<h3 class="center">ComPPI</h3>
	<p class="center">The Compartmentalized Protein-Protein Interaction Database</p>

	<h3 class="center">Contributors (Alphabetically)</h3>
	<p class="center">
	Judit, Gyurk칩: design<br />
	<a href="http://www.linkgroup.hu/davidgyurko.php">D치vid M., Gyurk칩 MD</a>: front-end, architecture, design, consultation<br />
	<a href="http://www.linkgroup.hu/kristofszalay.php">Krist칩f Zsolt, Szalay</a>: scoring algorithm, server administration<br />
	Benedek, Thaler: back-end, architecture<br />
	<a href="http://www.linkgroup.hu/danielveres.php">Daniel, Veres MD</a>*: project leader, concept & management, scientific leader, architecture<br />
	<br />
        <b>Supervisors:</b><a href="http://www.linkgroup.hu/petercsermely.php"> Prof. Peter, Csermely</a> and <a href="http://netbiol.elte.hu/index.php/en/tamas-korcsmaros">Dr. Tamas, Korcsmaros</a>
        <br />
	* <b>Corresponding Author:</b> veres.daniel1@med.semmelweis-univ.hu
        <br />
        <br />
        <br />
	</p>
    
	<h3 class="center">Research groups</h3>
	<p class="center">
        <a href="http://www.linkgroup.hu" target="_blank"><img src="http://www.linkgroup.hu/pic/link_logo.png" alt="LINK-group" /></a>
		<br />
		<br />
        <a href="http://netbiol.elte.hu/index.php/en/" target="_blank"><img src="http://www.linkgroup.hu/pic/netbiol_logo.png" alt="NetBiol" /></a>
	</p>
{% endblock %}
