{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Impressum{% endblock %}

{% block bundlecontent %}
	<h3 class="center">ComPPI</h3>
	<p class="center">The Compartmentalized Protein-Protein Interaction Database</p>

	<h3 class="center">Contributors (Alphabetically)</h3>
	<p class="center">
	Gyurkó, Judit: design<br />
	Gyurkó, M. Dávid: front-end, architecture, design, consultation<br />
	Szalay, Kristóf Zsolt: confidence score, server administration<br />
	Thaler, Benedek: back-end, architecture<br />
	Veres, Dániel*: project leader, concept & management<br />
	<br />
	* Corresponding Author: veres.daniel1@med.semmelweis-univ.hu
	</p>
{% endblock %}
