{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Impressum{% endblock %}

{% block bundlecontent %}
	<h3 class="center">ComPPI</h3>
	<p class="center">The Compartmentalized Protein-Protein Interaction Database</p>

	<h3 class="center">Contributors (Alphabetically)</h3>
	<p class="center">
	Gyurkó, Judit: design<br />
	<a href="http://www.linkgroup.hu/davidgyurko.php">Gyurkó, M. Dávid MD</a>: front-end, architecture, design, consultation<br />
	<a href="http://www.linkgroup.hu/kristofszalay.php">Szalay, Kristóf Zsolt</a>: scoring algorithms, server administration<br />
	Thaler, Benedek: back-end, architecture<br />
	<a href="http://www.linkgroup.hu/danielveres.php">Veres, Daniel MD</a>*: scientific leader, project leader, concept & management, architecture<br />
	<br />
        <b>Supervisors:</b> <a href="http://www.linkgroup.hu/petercsermely.php">Prof. Csermely, Péter</a> and <a href="http://netbiol.elte.hu/index.php/en/tamas-korcsmaros">Korcsmáros, Tamás PhD</a>
        <br />
	* <b>Corresponding Author:</b> veres.daniel1@med.semmelweis-univ.hu
        <br />
        <br />
        <br />
	</p>

	<h3 class="center">Research groups</h3>
	<p class="center">
        <a href="http://www.linkgroup.hu" target="_blank"><img src="http://www.linkgroup.hu/pic/link_logo.png" width="200" height="45" alt="LINK-group" /></a>
		<br />
        <a href="http://netbiol.elte.hu/index.php/en/" target="_blank"><img src="http://www.linkgroup.hu/pic/netbiol_logo.png" width="160" height="45" alt="NetBiol" /></a>
	</p>
{% endblock %}
