{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help / Input Databases / PPI databases{% endblock %}

{% block bundlecontent %}

	<h1><ul id="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li><a href="{{ path('ComppiDescriptionBundle_help') }}/input_databases">Input Databases</li><li>Input PPI Databases</li></ul></h1>
	
	<p align="justify"></p>
	
	
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a></p>
{% endblock %}
