{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Protein Naming Conventions{% endblock %}

{% block bundlecontent %}
	<h1><ul id="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Protein Naming Conventions</li></ul></h1>
	
        <br />
	<p align='justify'>Source databases use different protein naming conventions.
        To ensure maximal connectivity of data we translate each protein name found in the input sources to the most appropriate naming convention available.
        Naming conventions used throughout the sources form a total order, the strongest one is the primary <a href="http://www.uniprot.org/faq/7">UniProtKB Swiss-Prot</a> accession <i><b>(30% of the proteins)</b></i>.
        If Swiss-Prot name not found we provide <a href="http://www.uniprot.org/faq/7">UniProtKB TrEMBL</a> accessions <i><b>(70% of the proteins)</b></i>.
        To learn more about the UniProtKB database navigate <a href="http://www.uniprot.org/help/uniprotkb">here</a>.</p>
        
        <p align='justify'>The total order ensures we can efficiently map the maximal amount of protein names possible to a common convention.
        This mechanism also provides us a way to connect various synonyms to each protein name.</p>

        <p align='justify'>During this process we used protein ID mapping tables from the <a href="ftp://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/idmapping/">UniProtKB</a>
        and the <a href="http://www.hprd.org/download">Human Protein Reference Database</a>
        and for manual mapping the <a href="http://llama.mshri.on.ca/synergizer/translate/">Synergizer</a>
        and <a href="http://www.ebi.ac.uk/Tools/picr/">Protein Identifier Cross-Reference (PICR)</a> webservices.</p>
        
        <p align='justify'>Please note that, even though the UniProtKB database contains manually annotated Swiss-Prot protein IDs, there are also automatically annotated TrEMBL protein IDs, which could cause redundancy in the data.
        One protein could be in the database with more than one IDs. Fragments could occur, also in the Swiss-Prot part.
        Mapping the protein IDs from gene names also could cause bias, such as more than one peptides translated from one gene due to alternative splicing.</p>
	
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a></p>

{% endblock %}
