{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Other Tools and Resources{% endblock %}

{% block bundlecontent %}

	<h1><ul id="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Other Tools and Resources</li></ul></h1>
	
	<!--<ol id="HelpToc">
		<li><a href="#relatedpublications">Related publications</a></li>
		<li><a href="#othertools">Other tools by LINK-group and NetBiol</a></li>
	</ol>-->

	
	<!-- <a name="relatedpublications"></a>
	<h2>Related publications</h2>
	<p></p>
	<ol>
		<li><i>Szalay-Bekő, M., Palotai, R., Szappanos, B., Kovács, I.A., Papp, B. and Csermely, P.</i> (2012) ModuLand plug-in for Cytoscape: extensively overlapping network modules, community centrality and their use in biological networks. Bioinformatics, 28, 2202-2204</li>
		<li><i>Mihalik, Á. and Csermely, P.</i> (2011) Heat shock partially dissociates the overlapping modules of the yeast protein-protein interaction network: A systems level model of adaptation. PLoS Comput. Biol. 7, e1002187</li>
		<li><i>Farkas, I.J., Korcsmáros, T., Kovács, I.A., Mihalik, Á., Palotai, R., Simkó, G.I., Szalay, K.Z., Szalay-Bekő, M., Vellai, T., Wang, S. and Csermely, P. </i>(2011) Network-based tools in the identification of novel drug-targets. Science Signaling 4, pt3</li>
		<li><i>Kovács, I.A., Palotai, R., Szalay, M.S. and Csermely, P.</i> (2010) Community landscapes: a novel, integrative approach for the determination of overlapping network modules. PLoS ONE 7, e12528</li>
		<li><i>Tamás Korcsmáros; Illés J. Farkas; Máté S. Szalay; Petra Rovó; Dávid Fazekas; Zoltán Spiró; Csaba Böde; Katalin Lenti; Tibor Vellai; Péter Csermely </i>(2010) Uniformly curated signaling pathways reveal tissue-specific cross-talks and support drug target discovery. Bioinformatics 26, 2042-2050</li>
		<li><i>Csermely, P. </i>(2008) Creative elements: network-based predictions of active centres in proteins, cellular and social networks. Trends Biochem. Sci. 33, 569-576</li>
	</ol>
	
	<a name="othertools"></a>
	<h2>Other tools by LINK-group and NetBiol</h2>
	<p></p>
	<p><b>Network analyzing tools in</b> <a href="http://www.linkgroup.hu/">LINK-group</a>:</p>
	<ul>
		<li><i>Turbine:</i> a versatile program package for the analysis of network dynamics, including the effect of single and multiple perturbations.<a href="http://www.linkgroup.hu/Turbine.php">	Visit Turbine</a></li>
		<li><i>NetworGame:</i> a tool for the analysis of a large variety of spatial games on model and real world networks including the option for individual starting strategies for any network nodes.<a href="http://www.linkgroup.hu/NetworGame.php">	Visit NetworGame</a></li>
		<li><i>ModuLand:</i> Analysis of complex, real-world networksup to several million nodes, identification of key nodes and prediction of behavior.<a href="http://www.linkgroup.hu/modules.php">	Visit ModuLand</a></li>
	</ul>
	<p></p>-->
	<p><b>Network-related tools in</b> <a href="http://netbiol.elte.hu/index.php/en/">NetBiol network biology group</a>:</p>
	<ul>
		<li><i>Signalink:</i> A multi-layered signaling and regulatory resource based on manual curation and integration to focus on cross-talks, multi-pathway proteins and signal flow regulation<a href="http://signalink.org/">	Visit Signalink</a></li>
		<li><i>Autophagy Regulation:</i> Systems-level resource of autophagy regulation, including transcriptional, post-transcriptional regulatory mechanisms and signaling pahways.<a href="http://arn.elte.hu/">	Visit Autophagy Regulation</a></li>
		<li><i>NRF2-ome:</i> Manually curated, predicted and collected systems-level resource of NRF2.<a href="http://nrf2.elte.hu">	Visit NRF2-ome</a></li>
		<li><i>Cross-talk endosomes:</i> List of endosome-associated scaffold proteins and their cross-talk mediating properties.<a href="http://netbiol.elte.hu/endosome">	Visit Cross-talk endosomes</a></li>
		<li><i>PathwayLinker:</i> Webservice for analyzing the signaling pathway memberships of proteins and their interactors for experiment design and evaluation<a href="http://pathwaylinker.org/"> 	Visit PathwayLinker</a></li>
		<li><i>Signalog:</i> Tool for orthology based identification of novel signaling proteins<a href="http://signalink.org/signalog">	Visit Signalog</a></li>
	</ul>
	
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a</p>
{% endblock %}
