{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Other Tools and Resources{% endblock %}

{% block bundlecontent %}

	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Other Tools and Resources</li></ul></h1>
	
	<h2>Network analyzing tools in the <a href="http://www.linkgroup.hu/">LINK-group</a>:</h2>
	<ul>
		<li><i>ModuLand:</i> Snalysis of complex, real-world networks up to several million nodes, identification of key nodes and prediction of behavior.</li>
		<p><a href="http://www.linkgroup.hu/modules.php">Visit ModuLand</a></p>
		<li><i>NetworGame:</i> A tool for the analysis of a large variety of spatial games on model and real-world networks including the option for individual starting strategies for any network nodes.</li>	
		<p><a href="http://www.linkgroup.hu/NetworGame.php">Visit NetworGame</a></p>
		<li><i>Turbine:</i> A versatile program package for the analysis of network dynamics, including the effect of single and multiple perturbations.</li>	
		<p><a href="http://www.linkgroup.hu/Turbine.php">Visit Turbine</a></p>	
	</ul>
	<h2>Network-related tools in the <a href="http://netbiol.elte.hu/index.php/en/">NetBiol network biology group</a>:</h2>
	<ul>
		<li><i>Autophagy Regulatory Network:</i> Systems-level resource of autophagy regulation, including transcriptional, post-transcriptional regulatory mechanisms and signaling pathways.</li>	
		<p><a href="http://arn.elte.hu/">Visit Autophagy Regulatory Network</a></p>
		<li><i>Cross-talk endosomes:</i> List of endosome-associated scaffold proteins and their cross-talk mediating properties.</li>	
		<p><a href="http://netbiol.elte.hu/endosome">Visit Cross-talk endosomes</a></p>
		<li><i>NRF2-ome:</i> Manually curated, predicted and collected systems-level resource of NRF2.</li>	
		<p><a href="http://nrf2.elte.hu">Visit NRF2-ome</a></p>	
		<li><i>PathwayLinker:</i> Webservice for analyzing the signaling pathway memberships of proteins and their interactors for experiment design and evaluation.</li>	
		<p><a href="http://pathwaylinker.org/"> Visit PathwayLinker</a></p>
		<li><i>SignaLink:</i> A multi-layered signaling and regulatory resource based on manual curation and integration to focus on cross-talks, multi-pathway proteins and signal flow regulation.</li>	
		<p><a href="http://signalink.org/">Visit Signalink</a></p>		
		<li><i>Signalog:</i> Tool for orthology-based identification of novel signaling proteins.</li>
		<p><a href="http://signalink.org/signalog">Visit Signalog</a></p>
	</ul>
	
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a></p>
{% endblock %}
