{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Output Formats{% endblock %}

{% block bundlecontent %}
	<h1><ul id="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Output Formats</li></ul></h1>

	<p>Full database download in SQL format. Compartmentalized data available in CSV format through the Protein Search export, or the Download page.<br/>
	ComPPI integrated data set contains interactions and subcellular localizations for proteins in CSV format.</p>

	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a</p>
{% endblock %}
