{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Output Formats{% endblock %}

{% block bundlecontent %}
	<h1><ul id="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Output Formats</li></ul></h1>
        
        <br/>
	<p>ComPPI offers download options on the <a href="http://comppi.linkgroup.hu/protein_search">Protein Search</a> and the <a href="http://comppi.linkgroup.hu/downloads">Downloads</a> pages.
        
        <h2>Protein search</h2>
        
        <p>The export of the protein search results is available in <b>Tab-limited Text format</b>.
        The downloaded file is appropiate for further manipulation in Excel as well.
        More details about the <i>Protein Search</i> page <a href="{{ path('ComppiDescriptionBundle_help') }}/protein_search">here</a>.</p>
        
        <h2>Downloads</h2>
           
        <p>The <i>Downloads</i> page contains three kind of prepared datasets:
        <ul>
            <li>Compartmentalized interactome</li>
            <li>Integrated protein-protein interaction dataset</li>
            <li>Integrated subcellular localization dataset</li>
        </ul>
        The output format of the datasets is <b>Tab-limited Text format</b>.
        The downloaded file is appropiate for further manipulation in Excel as well. 
        More details about the <i>Downloads</i> page <a href="{{ path('ComppiDescriptionBundle_help') }}/downloads">here</a>.</p> 
        
        <p> 
        The full database of the current and previous releases is also available on the <i>Downloads</i> page in <b>SQL</b> format.
        </p> 
           

	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a></p>
{% endblock %}
