{# src/Comppi/ProteinSearchBundle/Resources/views/plans.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Plans for future developments{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Plans for future developments</li></ul></h1>
	
	<p>ComPPI is open sourced (see the <a href="{{ path('ComppiDescriptionBundle_help') }}/terms_of_use">terms of use</a>), which allows further improvement and the construction of 'ComPPI-based databases'. ComPPI is a community-annotation resource, which will be continuously enriched by a user-community of experts helped by a <a href="http://bificomp2.sote.hu/redmine/projects/comppi/issues">public issue tracking system</a> and by feedbacks from the core team, and will be yearly-updated and upgraded annually for minimum 5 years. We plan to resolve current ComPPI limitations, such as the relatively low amount (29% of total) of experimental subcellular localization entries with the incorporation of newly available experimental data. Future plans include the development of improved gold standard-based Localization and network neighbourhood-based Interaction Scores, as well as further advanced download and search options, such as advanced localization-based network visualization and extended number of output formats.</p>
	        
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
        
{% endblock %}