{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Interaction and Localization Score{% endblock %}

{% block bundlecontent %}
	<h1><ul id="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Interaction and Localization Score</li></ul></h1>

	<p>Further development, based on ComPPI confidence scoring algorithm:</p>
	<p>ComPPI upgrades will contain a confidence score expanded to larger network neighbourhoods and a compartmentalized interactome visualization tool. Prediction of novel subcellular localizations in the same or in different species (terming the latter as localogs) using the localization data of orthologs, interologs and of their network neighbourhood will also be included. Localization-prediction and localization-dependent protein-protein interaction network filtering will be developed to a web-service.</p>

	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a</p>
{% endblock %}
