{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Interaction and Localization Score{% endblock %}

{% block bundlecontent %}
	<h1><ul id="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Interaction and Localization Score</li></ul></h1>
      
	<h2>Summary of the ComPPI scoring system</h2>
	
	<p align="justify"></p>
        
        <p align="justify"><b>Note</b> that the interaction score is 0, if there was no localization information for one, or both of the interactors.</p>
        
        <h2>Detailed description of the ComPPI scoring system</h2>
	<ul>
            <li><a href="#basics">Basics of the ComPPI scoring system</a></li>
            <li><a href="#locscore">Localization score</a></li>
            <li><a href="#intscore">Interaction score</a></li>
            <li><a href="#scoreopt">Optimalization</a></li>
        </ul>
	<br/>
        
        <a name="basics"><h3>Basics of the ComPPI scoring system</h3></a>
	
	<p align="justify"></p>

        
        <a name="locscore"><h3>Localization score</h3></a>
	
	<p align="justify">képlet!!!</p>
        
	
	<a name="intscore"><h3>Interaction score</h3></a>
	
	<p align="justify">képlet!!!</p>
	
	
	<!--<a name="scoreopt"><h3>Optimalization</h3></a>-->
	
	<p></p>
	


	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Table of Contents</a></p>
{% endblock %}
