{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Subcellular Localizations{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Subcellular Localizations</li></ul></h1>

	<h2>Summary of the subcellular localization data</h2>
	
	<p align="justify">In summary ComPPI contains 217 342 major localizations for 120 404 proteins
	(no localization for 8 621 proteins). The average number of major localizations for one protein is 1.8.
	The localization and interaction scoring algorithm works with major localizations (detailed below).</p>
	
	<p>The final distribution of the proteins in the major localizations:
		<ul>
			<li><b>cytosol:</b> 59 487 proteins</li>
			<li><b>nucleus:</b> 49 960 proteins</li>
			<li><b>mitochondrion:</b> 16 038 proteins</li>
			<li><b>secretory-pathway:</b> 30 096 proteins</li>
			<li><b>membrane:</b> 42 982 proteins</li>
			<li><b>extracellular:</b> 15 863 proteins</li>
		</ul>
	</p>	
	
	<h2>Detailed description of the subcellular localization data</h2>
	<ol>
            <li><a href="#origin">Origin of the subcellular localization data</a></li>
            <li><a href="#structure">Structure of the subcellular localization data</a></li>
            <li><a href="#expsystype">Experimental system type of the subcellular localization data</a></li>
        </ol>
	<br/>
	
	<a name="origin"></a>
	<h3>1. Origin of the subcellular localization data</h3>
	
	<p align="justify">The evidence type of the subcellular localizations of the proteins could be experimentally verified, predicted by computational methods or from unknown origin.
		<ul>
			<li><b>Experimental:</b> subcellular localizations derived from experiments often contain sub-organelle specific information for the proteins.
			This means that the resolution of the localization data is high, the localization of the protein could be for example in certain protein complexes.</li>
			<li><b>Predicted:</b> subcellular localizations derived from computational prediction methods based on less specific predictors of localization,
			such as the search for Nuclear Localization Signals (NLS) to predict the nuclear localization of a given protein.
			Because of this lower specificity the resolution of the predictions often reach only the level of major cell organelles, such as the nucleus or the cytosol.</li>
			<li><b>Unknown:</b> subcellular localizations from unknown origin can also be found in our dataset, the resolution of those data could vary between source databases.</li>
		</ul>
	</p>


	<br/><a name="structure"></a>
	<h3>2. Structure of the subcellular localization data</h3>
	
	<p align="justify">We standardized the subcellular localizations based on
	<a href="http://www.geneontology.org/GO.component.guidelines.shtml">Gene Ontology (GO) cellular component terms</a> and
	arranged them by manual curation into a non-redundant localization tree with more than 1600 individual GO terms.
	Our localization tree contains only those GO cellular component terms that are contained in the ComPPI database.
	For more details <a href="http://bificomp2.sote.hu:22422/comppi/files/85e7056adb541d5a18c60792457986c71a3a0ab0/databases/loctree/loctree.textile">visit the whole localization tree</a>
	or <a href="http://www.linkgroup.hu/pic/loctree.svg">download it in SVG format</a>.</p>
	
	<p align="justify">The difference in the resolution of the localization data
	and the ability to deal with a usable number of localizations for the scoring based filtering method indicate the relevance of the separation of subcellular localization
	data into major and minor localization fractions.</p>
			
	<p align="justify">Based on the localization tree of the GO terms we have arranged the minor localizations into 6 major cellular components
	(cytosol, nucleus, mitochondrion, secretory-pathway, membrane, extracellular).
	For more details <a href="http://bificomp2.sote.hu:22422/comppi/files/85e7056adb541d5a18c60792457986c71a3a0ab0/databases/loctree/largelocs.yml">visit the list of minor localizatons belonging to major cellular components.</a></p>
	
	<p>The distribution of the branches in the tree shows how many minor localizations (GO terms) were assigned to a certain major localization:
		<ul>
			<li>cytosol: 525</li>
			<li>nucleus: 353</li>
			<li>mitochondrion: 78</li>
			<li>secretory-pathway: 185</li>
			<li>membrane: 367</li>
			<li>extracellular: 126</li>
		</ul>
	</p>


	<br/><a name="expsystype"></a>
	<h3>3. Experimental system type of the subcellular localization data</h3>
	
	<p>The diverse <a href="#origin">origins/evidence types</a> of the subcellular localization data indicate that we had to arrange the system types into
	experimental (1), predicted (2), and unknown (0) origin/evidence type. To learn more about our evidence types click
	<a href="http://bificomp2.sote.hu:22422/comppi/files/85e7056adb541d5a18c60792457986c71a3a0ab0/databases/systemtypes/system.csv">here</a>.</p>
	
	<p>The nomenclature of the evidences show redundancy, therefore we had to map the synonyms of the evidences to a single common name per evidence. To learn more about our evidence synonyms click
	<a href="http://bificomp2.sote.hu:22422/comppi/files/85e7056adb541d5a18c60792457986c71a3a0ab0/databases/systemtypes/synonym.csv">here</a>.</p>
	
	<p>The Gene Ontology subcellular localization data is a major data source for ComPPI.
	It classifies the GO cellular component annotations by <a href="http://www.geneontology.org/GO.evidence.shtml">evidence level</a>,
	which allows us to deal with a more detailed subcellular localization dataset.</p>
	
	<p>The structure of the GO evidence levels and the resolved abbreviations in the source data:
	<ul>
		<li>Experimental</li>
			<ul>
				<li>EXP: Inferred from Experiment</li>
				<li>IDA: Inferred from Direct Assay</li>
				<li>IMP: Inferred from Mutant Phenotype</li>
				<li>IGI: Inferred from Genetic Interaction</li>
				<li>IEP: Inferred from Expression Pattern</li>
			</ul>
		<li>Predicted</li>
			<ul>
				<li>IPI: Inferred from Physical Interaction</li>
				<li>ISS: Inferred from Sequence or Structural Similarity</li>
				<li>ISO: Inferred from Sequence Orthology</li>
				<li>ISA: Inferred from Sequence Alignment</li>
				<li>ISM: Inferred from Sequence Model</li>
				<li>IGC: Inferred from Genomic Context</li>
				<li>IBA: Inferred from Biological aspect of Ancestor</li>
				<li>IBD: Inferred from Biological aspect of Descendant</li>
				<li>IKR: Inferred from Key Residues</li>
				<li>IRD: Inferred from Rapid Divergence</li>
				<li>RCA: inferred from Reviewed Computational Analysis</li>
			</ul>
		<li>Unknown</li>
			<ul>f
				<li>TAS: Traceable Author Statement</li>
				<li>NAS: Non-traceable Author Statement</li>
				<li>IC: Inferred by Curator</li>
				<li>ND: No biological Data available</li>
				<li>IEA: Inferred from Electronic Annotation</li>
				<li>NR: Not Recorded</li>
			</ul>
	</ul>
	</p>
	
	
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
{% endblock %}


