{% extends 'StatBundle::base.html.twig' %}

{% block subnav %}
<ul id="sub-nav" class="navigation">
    {% for sd in species %}
        <li><a href="{{ path('stat_source_specie', { 'specieAbbr': sd.abbreviation }) }}">{{ sd.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}