{% extends 'StatBundle::base.html.twig' %}

{% block subnav %}
<ul id="sub-nav" class="navigation">
    {% for abbr, specie in species %}
        <li><a href="{{ path('stat_source_specie', { 'specie': abbr }) }}">{{ specie }}</a></li>
    {% endfor %}
</ul>
{% endblock %}