{% extends 'StatBundle::base.html.twig' %}

{% block subnav %}
<ul class="nav nav-tabs">
    {% for sd in species %}
        <li{% if specieName is defined and sd.name == specieName %} class="active"{% endif %}>
            <a href="{{ path('stat_source_specie', { 'specieAbbr': sd.abbreviation }) }}">
                {{ sd.name }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}