{% extends 'StatBundle:SourceStat:container.html.twig' %}

{% block title %}Sources{% endblock %}

{% block body %}

<h2>{% trans %}Available species{% endtrans %}</h2>

<ul>
{% for sd in species %}
    <li><a href="{{ path('stat_source_specie', { 'specieAbbr': sd.abbreviation }) }}">{{ sd.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}