@color_grey: #444;
@color_grey_dark: #4E4D4A;
@color_grey_light: #F0F0F0;

@color_green: #94BA65;
@color_green_dark: #648A35;
@color_green_light: #B4DA85;

@color_blue: #2790B0;
@color_blue_light: #d5f6ff;

@color_orange: #F58723;

body {
    font-family: "Avant Garde", "Century Gothic", "Avant Garde Gothic", sans-serif;
    margin: 0;
    padding: 0 0 2em 0;
}

#content {
    margin: 0;
    padding: 0 15px;    
}

a {
    color: @color_green_dark;
}

a.trow-dynamic-expander-link {
    font-weight: 700;
}

/*
 * HEAD
 */
 
#head {
    background: @color_green;
    color: #fff;
    padding: 1px 15px; 
    border-bottom: 1px solid @color_green_dark;

	h1 {
	    font-size: 2em;
	    margin: 0.3em 0;
	    padding: 0; 
	
		span {
		    font-weight: 200;
		    color: @color_green_dark;    
		}
	}
}

/*
 * NAVIGATION / SITE NAV / SUB NAV
 */
 
ul.navigation {
    padding: 0; 
    list-style: none;
    
    li {
        display: inline;
    }    
}

#site-nav {
    margin: 0 0 10px 0;
    font-size: 1.2em;


	li {
	    /*float: left;*/
	    padding: 0 5px 11px 0;
	    
        a {
	        color: #fff;
	        text-decoration: none;  
	    }
	    
	    a:hover {
	        text-shadow: 1px 1px 1px #000000;
	        filter: dropshadow(color=#000000, offx=1, offy=1); 
	    }
	}
	
	li:before {
	    content: '|   ';
	    color: @color_grey_dark;
	}
	
	li:first-child:before {
	    content: '';
	}
	
	li.active {
	    background: url('../bundles/stat/images/arrow-up.png') no-repeat bottom center;
	}
}

#sub-nav {
    background: @color_green_dark;
    margin: 0 -15px;
    padding: 0.3em 0 0.3em 15px;
    border-top: 1px solid @color_grey;

    li {
        margin: 0.2em 0 0 0;
        a {
            color: @color_green_light;
            text-decoration: none;
        }
        
        a:hover {
            color: #fff;
        }
    }
    
	li:before {
	    content: " · ";
	    color: @color_grey;
	    margin: 0 0.3em;
	}
	
	li:first-child:before {
	    content: '';
	    margin: 0;
	}
}
    
/*
 * HEADLINE
 */
 
.headline {
    margin: 2em 0 1em 0;   
    
    h2, h3{
	    display: inline;
	} 
}
 
h2 {
    font-size: 2em;
    font-family: "Trebuchet MS", sans;
}
    
h3 {
    font-size: 1.8em;
    font-weight: 200;
    font-family: "Trebuchet MS", sans;
    color: @color_grey;
}

/*
 * TABLES
 */

table {
    width: 90%; 
}

thead {
    font-weight: 700;
    color: #fff;
    background: @color_grey_dark;   
}

tfoot {
    font-weight: 700;
    color: @color_blue;
}

td {
    padding: 4px 4px;   
}

td.tcell-numeric {
    text-align: center;
    width: 150px;
}

tbody tr:nth-child(2n) {
    background: @color_grey_light;    
}

tbody tr:hover {
    background: @color_green_light;   
}

tr.dynamic {
    background: @color_blue_light !important;
    color: @color_grey;    
    
    td {
        padding: 0.1em 4px;
        vertical-align: top;
    }
    
    ul {
        list-style-type: circle;
        margin: 0.1em;
        padding: 0 1em;
    }
    
    dl {
        margin: 0.1em;
        padding: 0 1em;        
    }
    
    dt, dd {
        float: left;
    }
    
    h4 {
        margin: 0;
    }
}

tr.dynamic:hover {
    background: @color_blue_light;
}

/*
 * MESSAGES
 */
 
.message {
    display: block;
    padding: 0.4em 1em;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.message-notice {
    background: @color_orange;
    font-weight: 700;
    color: #fff;
}

/*
 * TEXT
 */

.shy-text {
    color: #666;
}
