{% extends 'StatBundle::base.html.twig' %}

{% block subnav %}
<ul id="sub-nav" class="navigation">
    <li><a href="{{ path('stat_localization_index') }}">Distribution</a></li>
    <li><a href="{{ path('stat_localization_visualization') }}">Loctree visualization</a></li>
    <li><a href="{{ path('stat_localization_majorloc') }}">Major Localizations</a></li>
</ul>
{% endblock %}