{% extends 'StatBundle::base.html.twig' %}

{% block subnav %}
<ul class="nav nav-tabs">
    <li{% if _action == 'index' %} class="active"{% endif %}><a href="{{ path('stat_localization_index') }}">Distribution</a></li>
    <li{% if _action == 'visualization' %} class="active"{% endif %}><a href="{{ path('stat_localization_visualization') }}">Loctree visualization</a></li>
    <li{% if _action == 'majorloc' %} class="active"{% endif %}><a href="{{ path('stat_localization_majorloc') }}">Major Localizations</a></li>
</ul>
{% endblock %}