{% extends 'StatBundle:LocalizationStat:container.html.twig' %}

{% block title %}Localizations{% endblock %}

{% block body %}

<h1>{% trans %}Major Localizations{% endtrans %}</h1>

{% for name, children in largelocs %}
    <h2>{{ name }}</h2>
    
    {% if name == 'N/A' %}
        <div class="alert alert-warning">
        <h4>{% trans %}No major localization{% endtrans %}</h4>
        {% trans %}
            The following localizations do not belong to any major localization.
        {% endtrans %}
        </div>    
    {% endif %}
 
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th class="tcell-numeric">ID</th>
                <th>{% trans %}Localization{% endtrans %}</th>
                <th>{% trans %}GO Accession{% endtrans %}</th>
            </tr> 
        </thead>
        <tbody>   
    {% for child in children %}
        <tr>
            <td class="tcell-numeric">{{ child.localizationId }}</td>
            <td>{{ child.localizationName }}</td>
            <td>{{ child.goAccession }}</td>
        </tr>    
    {% else %}
        <div class="alert alert-info">
        <h4>{% trans %}Not found{% endtrans %}</h4>
        {% trans %}
            No localization found
        {% endtrans %}
        </div>
    {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}