html {
    margin: 0;
    padding: 0;
    text-align: center;
}
body  {
	width: 1000px;
	margin: 0 auto;
    padding: 0;
    background: url("header_bg.png") repeat-x scroll left top #ffffff;
    font-family: arial,sans-serif;
    text-align: left;
}
#Header  {
	width: 1000px;
	margin: 0 auto 2em 0;
    padding: 0;
}
#MainMenu { margin: 22px 0 0 0; padding: 0; list-style-type: none; text-align: right; color: #E0DFDC; }
#MainMenu a { padding-top: 10px; color: #E0DFDC; text-decoration: none; font-weight: bold; font-family: 'Cuprum',serif; }
#MainMenu a:hover { color: #ffffff; }
#Logo { float: left; padding: 0; margin: -17px 0 0 0; /*margin: -10px 0 0 0; padding: 0; width: 200px; font-size: 40px; font-weight: normal; font-family:'Cuprum',serif; color: #E0DFDC;*/ }
#HeaderSlogan { float: left; margin: 0; padding: 0 0 0 10px; color: #E0DFDC; }
#Content {
	margin-top: 10px;
	line-height: 150%;
	color:  #000;
}
#Footer { position: fixed; bottom: 0; width: 1000px; height: 50px; padding-top: 10px; background: #fff; border-top: 1px solid #404040; margin: 1em auto 0 auto; text-align: center; }

a { color: #007000; text-decoration: none; font-weight: bold; }
a:hover { color: #CC0000; }
a:visited { text-decoration: underline; }
.hovered_listline { background-color: #e0e0e0; }

.btn, .btn_green {
	margin: 2px;
	padding: 8px;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.btn { background: url("btn_bg.png") #3c3b37; color: #E0DFDC; }
.btn_green { color: #E1FFCE; background: url("btn_bg_green.png") #307500; border: 1px solid #228800; }
.btn a { color: #E0DFDC; text-decoration: none; }
.btn a:hover, .btn:hover, .btn_green:hover { color: #fff; }
.btn_src { font-size: 12px; padding: 0 8px; }
.btn_submit { color: #000; background: #E49E32 url("btn_bg_orange.png") repeat-x top left; border: 1px solid #E49E32; }
.btn_submit:hover { color: #800000; }

.help { margin: 0; }
.help_details {}
.infobtn {
	/*display: block;
	float: right;
	width: 22px;
	height: 22px;
	background: url("btn_bg.png") #3c3b37; color: #E0DFDC;
	border-radius: 11px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;*/
}
.infobtn a { color: #E0DFDC; text-decoration: none; }
.infobtn a:hover { color: #fff; }

label { display: block; float: left; width: 200px; margin: 2px; }
br { clear: left; }
/*#fProtSearchLocECBtn { margin-left: 206px; }  properly align as a label was before it */
input, select, textarea {
	margin: 2px;
	padding: 8px;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
/*input[type='checkbox'] { padding: 8px; }*/

/* PROTEIN SEARCH */
#ProteinSearchForm { text-align: left; }
#fProtSearchKeyword { width: 412px; }
#fProtSearchMultiNames { width: 412px; }
#fProtSearchSpecHsBtn, #fProtSearchSpecDmBtn, #fProtSearchSpecCeBtn, #fProtSearchSpecScBtn { font-style: italic; }

#ProteinSearchResultsTbl {
	margin-top: 1em;
	width: 100%;
	border: 0;
	border-collapse: collapse;
	text-align: center;
}
#ProteinSearchResultsTbl th {
	font-weight: bold;
	border-bottom: 1px solid #909090;
}
#ProteinSearchResultsTbl td { padding: 0 5px; }

/* DOWNLOAD DB */
#DownloadForm { text-align: left; margin-top: 1em; }
#fDownloadLocFine { width: 780px; height: 10em; background: #505050; }
#fDownloadSpecHsBtn, #fDownloadSpecDmBtn, #fDownloadSpecCeBtn, #fDownloadSpecScBtn { font-style: italic; }