html {
    margin: 0;
    padding: 0;
    text-align: center;
}
body, #Header, #Footer {
	min-width: 1000px;
	background: url("content_bg_25_12.png") 80% 110px no-repeat;
}
body  {
	margin: 50px auto 10px auto;
	width: 90%;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: justify;
}
#Header  {
	margin: 0 0 2em 0;
    padding: 0;
}
#MainMenu, .NavMenu, #Footer, .listWithSeparator {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: bold;
}
#MainMenu li, .NavMenu li, #Footer li, .listWithSeparator li {
	margin: 0;
	padding: 0;
	color: #000;
	display: inline;
	
}
#MainMenu li:after, .NavMenu li:after, #Footer li:after, .listWithSeparator li:after {
	content: "//";
	color: #909090;
	margin: 0 12px;
	
}
#MainMenu li:last-child:after, .NavMenu li:last-child:after, #Footer li:last-child:after, .listWithSeparator li:last-child:after {
	content: "";
	margin: 0;
	
}
#MainMenu { margin: 0; padding: 0; text-align: right; text-transform: uppercase; }
#MainMenu a { padding-top: 10px; text-decoration: none; font-weight: 105%; color: #000;  }
#MainMenu a:hover { text-decoration: underline; }
#Logo { float: left; padding: 0; margin: 0; }
#HeaderSlogan {
	clear: both;
	float: left;
	margin: 0;
	padding: 20px 0 30px 0;
	height: 20px;
	color: #666;
	font-variant: small-caps;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 1px;
}
#Header img { border: 0; }
#Content {
	clear: both;
	margin-top: 10px;
	line-height: 120%;
	color:  #000;
}
#Footer {
	clear: both;
	margin: 5em auto 2em auto;
	padding: 1em 0 0 0;
	text-align: center;
	vertical-align: bottom;
}
/*#NavMenu { margin: 1em 0 -20px 0; padding-top: 1em; border: 1px solid red; }*/

a { color: rgb(240, 88, 23); text-decoration: none; font-weight: bold; }
a:hover { color: #CC0000; }
a:visited { text-decoration: underline; }
.msg_error { font-size: 1.2em; font-weight: bold; color: red; text-align: center; }
.striped_row { background-color: #efeff2; } /* keep this before .hovered_listline, otherwise striped rows will not be highlighted */
.hovered_listline {
	background-color: #d0d0d0;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
a img { border: 0; }
li { margin: 0.5em 0; }
h1 { margin-top: 2em; margin-bottom: 0.5em; font-size: 1.5em; font-weight: bold; font-variant: small-caps; }
h2 { margin-top: 2em; margin-bottom: 0.5em; font-size: 1.25em; font-weight: 500; font-variant: small-caps; }
h3 { margin-top: 1em; margin-bottom: 0; }
li { list-style-type: square; }

.center { text-align: center; }
.clear-both { clear: both; margin: 0; }
.help { margin: 1em 0; }
.help_details {}
.infobtn {
	background-color: #e9e9e9;
	color: #000;
	border: 1px solid #a9a9a9;
	width: 17px;
	height: 17px;
	margin: 0;
	padding: 0 5px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	/*display: block;
	float: right;
	width: 22px;
	height: 22px;
	background: url("btn_bg.png") #3c3b37; color: #E0DFDC;
	*/
}
.infobtn a { color: #E0DFDC; text-decoration: none; }
.infobtn a:hover { color: #fff; }
.message_success { font-weight: bold; color: #008800; }
.message_error { font-weight: bold; color: #ff0000; }

.fancy_table {
	width: 100%;
	margin: 1em 0 7px 0;
	border-spacing: 0;
	border-width: 0;
	border-collapse: collapse;
}
.fancy_table tbody {
	background-color: #fff;
    box-shadow: 5px 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 5px 0px #999;
    -moz-box-shadow: 5px 5px 5px 0px #999;
}
.fancy_table thead {
	padding-bottom: 10px;
    box-shadow: 5px 5px 5px 0px #999;
	-webkit-box-shadow: 5px 5px 5px 0px #999;
    -moz-box-shadow: 5px 5px 5px 0px #999;
}
/* empty space between thead and tbody */
.fancy_table tbody:before {
    line-height:5px;
    content:"-";
    color: #c0c0c0;
	visibility: hidden;
    display:block;
}
.fancy_table .btn {
	height: auto;
	font-size: 0.8em;
	font-weight: lighter;
	padding: 6px 20px;
}
.fancy_table th {
	font-weight: lighter;
	color: #fff;
	/*background: #222 url("header_bg.png") repeat-x top left;*/
	background-color: rgb(150, 152, 155);
	padding: 18px 15px 15px 12px;
	border: 1px solid rgb(150, 152, 155);
	border-right: 1px solid #fff;
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}
.fancy_table th:last-child {
	border-right: 1px solid rgb(150, 152, 155);
}
.fancy_table td {
    border: 0.4px solid rgb(150, 152, 155);
    padding: 15px;
    text-align: left;
	vertical-align: top;
}

.fancy_box {
	/*width: 100%;*/
	margin: 1em 0 0 0;
	padding: 0;
	border: 0;
}
.fancy_box h1 {
	margin: 0;
	padding: 10px;
	font-weight: normal;
	font-size: 2em;
	color: #fff;
	background-color: rgb(150, 152, 155);
	border: 1px solid rgb(150, 152, 155);
    box-shadow: 5px 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 5px 0px #999;
    -moz-box-shadow: 5px 5px 5px 0px #999;
}
.fancy_box_body {
	margin-top: 7px;
	padding: 10px;
	border: 1px solid rgb(150, 152, 155);
	background-color: #fff;
    box-shadow: 5px 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 5px 0px #999;
    -moz-box-shadow: 5px 5px 5px 0px #999;
}

.taxonomic_name { font-style: italic; }

.btn {
	margin: 2px;
	padding: 8px 10px;
	height: 43px;
	color: #fff;
	background-color: rgb(210, 88, 23);
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: lighter;
	letter-spacing: 1px;
	border: 0;
    box-shadow: 5px 5px 5px 0px #999;
	-webkit-box-shadow: 5px 5px 5px 0px #999;
    -moz-box-shadow: 5px 5px 5px 0px #999;
}
a.btn:hover { color: #000; }
label {
	display: block;
	float: left;
	width: 200px;
	height: 30px;
	margin: 2px 10px 2px 2px;
	padding: 8px 0 4px 0;
	border-top: 1px solid #404040/*rgb(155, 159, 165)*/;
	text-align: left;
}
.radioButtonLabel { float: none; width: auto; display: inline; border: 0; }
#Content form br { clear: left; }
/*#fProtSearchLocECBtn { margin-left: 206px; }  properly align as a label was before it */
input, select, textarea {
	margin: 2px 10px;
	padding: 8px;
	border: 1px solid #000;
	width: 300px;
}
input { height: 25px; }
textarea { height: 200px; }
.radiobtn {
	width: 20px;
	height: auto;
	margin: 5px 10px 5px 0;
	padding: 0;
    box-shadow: 5px 5px 5px 0px #999;
	-webkit-box-shadow: 5px 5px 5px 0px #999;
    -moz-box-shadow: 5px 5px 5px 0px #999;
}
.checkbox {
	width: 20px;
	height: auto;
	margin: 5px 0;
	padding: 0;
    box-shadow: 5px 5px 5px 0px #999;
	-webkit-box-shadow: 5px 5px 5px 0px #999;
    -moz-box-shadow: 5px 5px 5px 0px #999;
}

/* ABOUT / MAIN PAGE */
#MainPageContent { width: 1000px; margin: 0 auto; padding: 0; text-align: left; }
#MainPageLeftColumn, #MainPageRightColumn {
	margin: 0;
	padding: 0;
	width: 440px;
	vertical-align: top;
	text-align: justify;
}
#MainPageLeftColumn { padding-right: 30px; }
#MainPageRightColumn { padding-left: 30px; }
#MainPageContent h1 { margin-top: 2.5em; padding: 2px 0; border-bottom: 1px solid #000; }
#MainPageLeftColumn h1:first-child, #MainPageRightColumn h1:first-child { margin-top: 1em; }
#MainPageContent h3 { font-weight: 600; margin: 0; }
#MainPageContent td p { margin: 0.5em 0 0.7em 0; text-align: justify; }
#MainPageContent ul { margin: 0; padding-left: 15px; }
#MainPageContent ul li { margin: 0 0 1em 0; }
#MainPageStatisticsTable { border-collapse: collapse; width: 100%; margin: 1em 0 0 0; padding: 0; }
#MainPageStatisticsTable th, #MainPageStatisticsTable td {
	padding: 2px;
	height: 50px;
	border-right: 1px solid #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
	text-align: center;
}
#MainPageStatisticsTable th { background-color: #e9e9e9; }
#MainPageStatisticsTable td { border-top: 1px solid red;}
/*#MainPageStatisticsTable th { font-size: 10px; }*/
#MainPageStatisticsTable th:last-child, #MainPageStatisticsTable td:last-child { border-right: 0; }
#MainPageStatisticsTable tr:last-child td { border-bottom: 0; }


/* PROTEIN SEARCH */
#ProteinSearchForm { width: 1000px; margin: 0 auto; padding: 0; text-align: left; }
#fProtSearchContainerUL, #fProtSearchContainerUR, #fProtSearchContainerLL, #fProtSearchContainerLR {
	float: left;
	width: 500px;
	margin: 0;
	padding-bottom: 2em;
}
#fProtSearchContainerUR { text-align: center; }
/*#ProteinSearchForm table { border-collapse: collapse; border: 0; }
#ProteinSearchForm table td { width: 500px; padding-bottom: 1em; vertical-align: top; }
#ProteinSearchForm table td label { clear: both; }*/
#fProtSearchKeywordLabel, #fProtSearchSpeciesLabel, #fProtSearchLocLabel { width: 175px; float: left; }
#fProtSearchKeyword { width: 250px; height: 24px; margin: 2px 20px; overflow-y: auto; }
/*.fProtSearchKeywordAsTextarea { height: 100px; }*/
#fProtSearchAdvancedBtn { width: 260px; margin-top: 0; }
#fProtSearchReset { margin-top: 0.5em; width: 210px; }
#fProtSearchSubmit { width: 200px; margin-left: 20px; }
#fProtSearchSpecContainer, #fProtSearchLocContainer {
	width: 250px;
	margin: 0 0 0 15px;
	/*margin: 0 0 0 203px;*/
	padding: 0;
	display: block;
	float: left;
}


.ui-autocomplete-loading {
	background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}
/* Fix the missing scrollbar in the autocomplete box */
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

/*#ps-keyProtein h1 {
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}*/

#protSearchResultMsg { text-align: center; font-weight: bold; font-size: 1.2em; }
#ProteinSearchSelectorTbl td:last-child { width: 20%; text-align: center; }
#ProteinSearchSelectorTbl { width: auto; margin: 1em auto; }

#ps-interactionStats {
	margin: 0;
	padding: 5px;
}
table#ps-interactionStats.fancy_table { width: 400px; margin-top: 1em; }
table#ps-interactionStats.fancy_table tbody:before {
    content:"";
    color: #c0c0c0;
	visibility: hidden;
}
#ps-interactionStats td { text-align: left; }
#ps-keyProtein { margin-bottom: 2em; }
#ps-keyProtein h1 { padding: 17px 10px; }
.ps-actorA { padding: 10px 20px; width: 80px; border-top: 1px dotted #909090; height:  100%; text-align: center !important; }
.ps-actorA h1 { font-size: 1.5em; font-weight: lighter; margin: 0; padding: 0; display: inline; }
.ps-CS {
	margin: 0.5em 0 0 0;
	padding: 7px 3px 5px 3px;
	font-size: 10px;
	line-height: 1em;
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid rgb(150, 152, 155);
	-webkit-box-shadow: 5px 5px 5px 0px #999;
    -moz-box-shadow: 5px 5px 5px 0px #999;
    box-shadow: 5px 5px 5px 0px #999;
}
.ps-CS div { margin: 0; padding: 2px 0 0 0; color: rgb(210, 88, 23); font-size: 30px; line-height: 30px; font-weight: bolder; }
.ps-detailsOpener { display: block; float: right; text-transform: uppercase; font-size: 1.3em; font-weight: 600; }
.ps-actorB { padding: 10px; border-top: 1px dotted #909090; border-left: 1px dotted #909090; }
.ps-detailLabel { font-weight: bold; font-variant: normal; }
.ps-actorB h1, .ps-actorB h2, .ps-actorB h3 { font-size: 1.5em; font-weight: bold; margin: 0; padding: 0; display: inline; }
.ps-actorB h2 { font-size: 1em; display: block; }
#ps-keyProtein h3, .ps-actorB h3 { font-size: 1em; display: inline; }
.ps-actorBDetails { margin: 0; }
.ps-stripeEven { background-color: white; }
.ps-stripeOdd { background-color: #efeff2; }
.ps-sysType1 { font-weight: bold; }
#ps-keyProtein table { margin: 0; }
.ps-actorB table, #ps-keyProtein table { margin-top: 0; border-spacing: 0; width: 100%; }
.ps-actorB table th, #ps-keyProtein table th { font-size: 1em; margin: 0; padding: 2px 4px; background: #c0c0c0; border-color: #c0c0c0; color: #000; text-align: center; }
.ps-actorB table td, #ps-keyProtein table td { margin: 0; padding: 2px; border: 1px solid #c0c0c0; }
.ps-actorB table tr td:last-child, #ps-keyProtein table tr td:last-child { text-align: center; }


/* DOWNLOADS */
/*#DownloadForm { text-align: left; margin-top: 1em; }
#fDownloadLocFine { width: 780px; height: 10em; background: #505050; }
#fDownloadSpecHsBtn, #fDownloadSpecDmBtn, #fDownloadSpecCeBtn, #fDownloadSpecScBtn { font-style: italic; }*/
#DlSetHelpDisplay { margin: 0 30px; padding: 0; width: 100%; height: 3em; }
.DlSetHelp { display: none; }

#dlCenterReleases { margin: 0; padding: 5px 50px; }
#dlCenterReleases li { list-style-type: square; }

#DownloadCenterForm { text-align: center; }
#DownloadCenterForm table { border: 0; margin: 0 25px; width: 100%; border-collapse: collapse; text-align: left; }
#DownloadCenterForm td { padding: 5px; width: 18%; height: 210px; vertical-align: top; }
#DownloadCenterForm td:first-child { width: 28%; }

#DlSpeciesButtons-All { font-style: normal; }

#fDlSubmit { width: 180px; }


/* HELP */

#Statistics_HS_comp td { width: 17%; }
#Statistics_HS_int td { width: 17%; }
#Statistics_HS_loc td { width: 17%; }

#Statistics_DM_comp td { width: 17%; }
#Statistics_DM_int td { width: 17%; }
#Statistics_DM_loc td { width: 17%; }

#Statistics_CE_comp td { width: 17%; }
#Statistics_CE_int td { width: 17%; }
#Statistics_CE_loc td { width: 17%; }

#Statistics_SC_comp td { width: 17%; }
#Statistics_SC_int td { width: 17%; }
#Statistics_SC_loc td { width: 17%; }

#HelpPageTOC {
	margin: 0 auto;
}
#HelpPageTOC td {
	width: 50%;
	padding: 0 10px;
	text-align: left;
	font-size: 1.2em;
	/*font-variant: small-caps;*/
	vertical-align: top;
}
.backToTOC { text-align: right; margin-top: 4em; margin-right: 100px; }

/* CONTACT */
#ContactForm { width: 600px; margin: 0 auto; }
#ContactForm .help { margin-top: 0; }