html {
    margin: 0;
    padding: 0;
    text-align: center;
}
body  {
	width: 1000px;
	margin: 0 auto;
    padding: 0;
    background: url("header_bg.png") repeat-x scroll left top #ffffff;
    font-family: arial,sans-serif;
    text-align: left;
}
#Header  {
	width: 1000px;
	margin: 0 auto;
    padding: 0;
}
#MainMenu { margin: 20px 0 0 0; padding: 0; list-style-type: none; text-align: right; color: #E0DFDC; }
#MainMenu a { padding-top: 10px; color: #E0DFDC; text-decoration: none; font-weight: bold; font-family: 'Cuprum',serif; }
#MainMenu a:hover { color: #ffffff; }
#Logo { float: left; margin: -20px 0 0 0; padding: 0; width: 200px; font-size: 40px; font-weight: normal; font-family:'Cuprum',serif; color: #E0DFDC; }
#Content {
	margin-top: 10px;
	line-height: 150%;
}

.btn { width: auto; height: 40px; background: /*url("btn_bg.png")*/ #3c3b37; color: #E0DFDC; vertical-align: middle; }
.btn:hover { /*background: url("btn_bg_pushed.png");*/ }