html {
    margin: 0;
    padding: 0;
    text-align: center;
}
body  {
	width: 1000px;
	margin: 0 auto;
    padding: 0;
    background: url("header_bg.png") repeat-x scroll left top #ffffff;
    font-family: arial,sans-serif;
    text-align: left;
}
#Header  {
	width: 1000px;
	margin: 0 auto 2em 0;
    padding: 0;
}
#MainMenu { margin: 22px 0 0 0; padding: 0; list-style-type: none; text-align: right; color: #E0DFDC; }
#MainMenu a { padding-top: 10px; color: #E0DFDC; text-decoration: none; font-weight: bold; font-family: 'Cuprum',serif; }
#MainMenu a:hover { color: #ffffff; }
#Logo { float: left; padding: 0; margin: -17px 0 0 0; /*margin: -10px 0 0 0; padding: 0; width: 200px; font-size: 40px; font-weight: normal; font-family:'Cuprum',serif; color: #E0DFDC;*/ }
#HeaderSlogan { float: left; margin: 0; padding: 0 0 0 10px; color: #E0DFDC; }
#Content {
	margin-top: 10px;
	line-height: 150%;
	color:  #000;
}
#Footer { position: fixed; bottom: 0; width: 1000px; height: 50px; padding-top: 10px; background: #fff; border-top: 1px solid #404040; margin: 1em auto 0 auto; text-align: center; }

a { color: #207000; text-decoration: none; font-weight: bold; }
a:hover { color: #CC0000; }
a:visited { text-decoration: underline; }
.hovered_listline {
	background-color: #F0FFC4;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
li { margin: 0.5em 0; }

.btn, .btn_green {
	margin: 2px;
	padding: 8px;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.btn { background: url("btn_bg.png") #3c3b37; color: #E0DFDC; }
.btn_green { color: #E1FFCE; background: url("btn_bg_green.png") #307500; border: 1px solid #228800; }
.btn a { color: #E0DFDC; text-decoration: none; }
.btn a:hover, .btn:hover, .btn_green:hover { color: #fff; }
.btn_src { font-size: 12px; padding: 0 8px; }
.btn_submit { color: #000; background: #E49E32 url("btn_bg_orange.png") repeat-x top left; border: 1px solid #E49E32; }
.btn_submit:hover { color: #800000; }

.center { text-align: center; }
.help { margin: 0; }
.help_details {}
.infobtn {
	/*display: block;
	float: right;
	width: 22px;
	height: 22px;
	background: url("btn_bg.png") #3c3b37; color: #E0DFDC;
	border-radius: 11px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;*/
}
.infobtn a { color: #E0DFDC; text-decoration: none; }
.infobtn a:hover { color: #fff; }
.pagination { list-style-type: none; margin: 0; padding: 0; width: 100%; text-align: center; }
.pagination li { display: inline; margin: 0 4px; font-size: 1.2em; }
.pagination li.paginationCurrentPage a { color: #fff; }

.rounded_table {
	width: 100%;
	margin: 1em 0 2em 0;
	border-spacing: 0;
	border: 0px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 10px 10px #aaa; 
    -moz-box-shadow: 0 10px 10px #aaa; 
    box-shadow: 0 10px 10px #ccc;
}
.rounded_table th {
	font-weight: normal;
	font-size: 1.3em;
	color: #EAE9E8;
	background: #222 url("header_bg.png") repeat-x top left;
	padding: 2px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.rounded_table th:first-child {
	border-radius: 7px 0 0 0;
	-moz-border-radius: 7px 0 0 0;
    -webkit-border-radius: 7px 0 0 0;
}
.rounded_table th:last-child {
	border-radius: 0 7px 0 0;
	-moz-border-radius: 0 7px 0 0;
    -webkit-border-radius: 0 7px 0 0;
}
.rounded_table th:only-child {
	border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.rounded_table td, .rounded_table th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
	vertical-align: top;
}
.rounded_table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 7px;
    -webkit-border-radius: 0 0 0 7px;
    border-radius: 0 0 0 7px;
}
.rounded_table tr:last-child td:last-child {
    -moz-border-radius: 0 0 7px 0;
    -webkit-border-radius: 0 0 7px 0;
    border-radius: 0 0 7px 0;
}

.rounded_box {
	/*width: 100%;*/
	margin: 1em 0;
	border: 1px solid #ccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 10px 10px #ccc; 
    -moz-box-shadow: 0 10px 10px #ccc; 
    box-shadow: 0 10px 10px #ccc;
}
.rounded_box_body {
	padding: 10px;
}
.rounded_box h1 {
	margin: 0;
	padding: 10px;
	font-weight: normal;
	font-size: 1.3em;
	color: #EAE9E8;
	background: #222 url("header_bg.png") repeat-x top left;
	border: 1px solid #ccc;	border: 1px solid #ccc;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
}

.striped_row { background-color: #DADAE5; }

.taxonomic_name { font-style: italic; }

label { display: block; float: left; width: 200px; margin: 2px; }
.radioButtonLabel { float: none; width: auto; display: inline; }
#Content form br { clear: left; }
/*#fProtSearchLocECBtn { margin-left: 206px; }  properly align as a label was before it */
input, select, textarea {
	margin: 2px;
	padding: 8px;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
/*input[type='checkbox'] { padding: 8px; }*/

/* PROTEIN SEARCH */
#ProteinSearchForm { text-align: center; }
#fProtSearchKeywordLabel { width: 120px; }
#fProtSearchKeyword { width: 320px; }
#fProtSearchhsBtn, #fProtSearchdmBtn, #fProtSearchceBtn, #fProtSearchscBtn { font-style: italic; }
#fProtSearchSubmit {  }
.ui-autocomplete-loading {
	background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/*#ps-keyProtein h1 {
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}*/

#ProteinSearchSelectorTbl td:last-child { width: 10%; text-align: center; }
#ProteinSearchSelectorTbl { width: auto; margin: 1em auto; }

.ps-actorA { padding: 10px; width: 80px; border-top: 1px dotted #909090; height:  100%; }
.ps-actorA h1 { font-size: 1.5em; font-weight: normal; margin: 0; padding: 0; display: inline; }
.ps-CS {
	margin: 0.5em 0 0 0;
	padding: 3px 3px 5px 3px;
	font-size: 10px;
	text-align: center;
	color: #fff;
	background: #333;
	border: 1px solid #333;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    -webkit-box-shadow: 0 5px 5px #999; 
    -moz-box-shadow: 0 5px 5px #999; 
    box-shadow: 0 5px 5px #999;
}
.ps-CS div { margin: 0; padding: 0; font-size: 25px; }
.ps-detailsOpener { display: block; float: right; font-variant: small-caps; font-size: 1.2em; }
.ps-actorB { padding: 10px; border-top: 1px dotted #909090; border-left: 1px dotted #909090; }
.ps-detailLabel { font-weight: bold; }
.ps-actorB h1, .ps-actorB h2, .ps-actorB h3 { font-size: 1.5em; font-weight: bold; margin: 0; padding: 0; display: inline; }
.ps-actorB h2 { font-size: 1em; display: block; }
#ps-keyProtein h3, .ps-actorB h3 { font-size: 1em; display: inline; }
.ps-actorBDetails { margin: 0; }
.ps-stripeEven { background-color: white; }
.ps-stripeOdd { background-color: #efeff2; }
.ps-sysType1 { font-weight: bold; }
#ps-keyProtein table { margin: 0; }
.ps-actorB table, #ps-keyProtein table { border-spacing: 0; width: 100%; }
.ps-actorB table th, #ps-keyProtein table th { font-size: 1em; margin: 0; padding: 2px 4px; background: #c0c0c0; border-color: #c0c0c0; color: #000; text-align: center; }
.ps-actorB table td, #ps-keyProtein table td { margin: 0; padding: 2px; border: 1px solid #c0c0c0; }
.ps-actorB table tr td:last-child, #ps-keyProtein table tr td:last-child { text-align: center; }


/* DOWNLOADS */
/*#DownloadForm { text-align: left; margin-top: 1em; }
#fDownloadLocFine { width: 780px; height: 10em; background: #505050; }
#fDownloadSpecHsBtn, #fDownloadSpecDmBtn, #fDownloadSpecCeBtn, #fDownloadSpecScBtn { font-style: italic; }*/
#dlCenterMenu { list-style-type: none; margin: 0; padding: 0; text-align: center; width: 100%; font-size: 1.2em; }
#dlCenterMenu li { margin: 0 1em; padding: 0; display: inline; }
#dlCenterPrevReleases { margin: 0 auto; text-align: left; width: 70%; }
#dlCenterPrevReleases li { list-style-type: square; }


#fCommentForm { margin: 1em auto; width: 650px; text-align: center; }
#fCommentForm input { width: 405px; }
#fCommentForm label { text-align: left; padding-left: 5px; }
#HelpToc { border-bottom: 1px solid #404040; }
#fCommentSubmit { margin: 2px auto; }

#LocTree { margin-left: 200px; /* width of a label */ }
#LocTree li { list-style-type: none; }

/* About / Main page */
#WelcomePanels {
	margin: 0;
	padding: 0 1em;
	text-align: center;
	width: 100%;
}
#WelcomePanels li {
	list-style-type: none;
	float: left;
	width: 46%;
	margin: 1em 0.5em;
	padding: 5px;
	text-align: left;
	/*border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;*/
}
#WelcomePanels li h1 {
	font-size: 1.1em;
	font-weight: bold;
	font-variant: small-caps;
	border-bottom: 1px groove #000;
	margin: 0;
	padding: 0 0 0 2em;
	width: 93%;
}
