<h2>{% trans with {'%species%': 'Caenorhabditis elegans'}%}Interactions in %localization% in %species%:{% endtrans %}</h2>
<table>
    {% for interaction in interactions %}
        <tr>
            <td>{{ interaction.0 }}</td>
            <td>{{ interaction.1 }}</td>
        </tr>
    {% endfor %}
</table>